h1 {
    text-align: center;
}

div {
    display: inline-block;
    color: white;
}

h2 {
    color: green;
text-align: center;
position: relative;
border: 2px solid black;
top: -20px;
margin-left: 130px;
}

#ike1 {
background: grey;
}

#ike2 {
    background: tomato
    }

    #ike3 {
        background: aqua
        }
#ben1 {
    width: 320px;
    height: 160px;
    background: blue;
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
}


#ben2 {
    width: 320px;
    height: 160px;
    background: blue;
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
}

#ben3 {
    width: 320px;
    height: 160px;
    background: blue;
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
}

@media (min-width:767px) {
    
}

@media (max-width: 992px) {

}